body {
    font-family: Quicksand;
    color: white;
    font-weight: normal;
    background-color: rgb(28, 58, 77);
    background-image: url("img/mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}


.alles {
    width: 100%;
    text-align: center;
    margin: auto;

}


/*Posts*/

img {

    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.text {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;

}

div.post {
    background-color: white;
    color: black;
    text-align: left;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 2px;
}

.post .post-footerL {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.post-footerL {
    color: black;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
    font-size: x-large;
    display: table-cell;
    vertical-align: bottom;
}

.post-footerLink {
    text-decoration: none;
    color: black;
    display: table-cell;
    vertical-align: bottom;
}

.post-footerS {
    position: absolute;
    bottom: 40px;
    left: 10px;

}

li a:hover {
    background-color: #111;

}

/*Headers*/

.headerS {
    margin-top: -10px;
}

.headerDIVS {
    text-align: center;
    font-weight: lighter;
}

.headerDIVL {
    text-align: center;
    margin-top: -12px;
}


.headerL {
    font-weight: bold;
    font-size: x-large;
    color: white;
}

.headerLL {
    color: white;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 1px 20px 12px 40px;
    margin: 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}


/*Navbar*/

a {
    text-decoration: none;

}

.navitems {
    color: white;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    text-align: center;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*text-align: center;*/
}


.navbar {

    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    display: inline-block;
    padding: 10px;
}

.next {
    float: right;
    padding-right: 20px;
    color: black;
}

.nextL {
    color: black;
}

.nextLP {
    color: transparent;

}

.backLP {
    color: transparent;

}

.back {
    float: left;
    padding-left: 20px;
}


/*Responisiveheid*/

@media all and (max-width: 550px) {
    div.post {
        width: 100%;

    }

    .nextLP {
        color: transparent;
        position: absolute;
        left: 20px;

    }

    .backLP {
        color: transparent;
        position: absolute;
        left: 20px;

    }

    img {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        /*margin-left: 20px;*/
        padding-left: 20px;
        padding-right: 20px;


    }

    section.post {
        width: 341px;
    }

}


@media all and (max-width: 742px) {
    div.post {
        width: 100%;

    }

    img {
        max-width: 500px;
    }

    section.post {
        width: 341px;
    }

}


@media all and (min-width: 742px) {
    div.post {
        width: 100%;
        max-width: 1000px;


    }


    img {
        max-width: 500px;
    }

    section.post {
        width: 341px;
    }
}

@media all and (min-width: 1200px) {
    .nextLP {
        color: white;
        position: absolute;
        top: 600px;
        left: 1100px;
        font-weight: bolder;
        font-size: 200%;
    }

    .backLP {
        color: white;
        position: absolute;
        top: 600px;
        right: 1100px;
        font-weight: bolder;
        font-size: 200%;
    }

    .nextL {
        color: transparent;
    }

}


@media all and (min-width: 1200px) {
    .wrapper {
        width: 100%;
        margin: auto;

    }

    div.post {
        width: 1000px;

        padding-left: 5px;

    }

    img {
        max-width: 500px;
    }

    section.post {
        width: 341px;
    }
}

/*Dropdown Menu*/

.burger {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 3px;

}

.dropbtn {
    background-color: #19181A;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #19181A;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: auto;
}

.dropdown-content {
    display: none;
    width: 60%;
    max-width: 500px;
    margin: auto;
    position: relative;
    background-color: #19181A;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
}


.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}